<div id="main-container">
  <div class="hero-container">
    <h1>Welcome to CSE Motors!</h1>
    <img class="hero car" src="/images/vehicles/delorean-tn.jpg" alt="DMC-Delorean-jpg" >
    <div id="transparent-box">
      <h2>DMC Delorean</h2>
      <h3>3 Cup holders</h3>
      <h3>Superman doors</h3>
      <h3>Fuzzy dicel</h3>
      <img class="hero owntoday" src="/images/site/own_today.png" alt="Own-today-png" >
    </div>
  </div>
  <div id="medium-grid">
    <div class="review-container">
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road."(4/5)</li>
        <li>"I'm feeling McFly!"(5/5)</li>
        <li>"The most futuristic ride of our day."(4.5/5)</li>
        <li>"80's livin and I love it!"(5/5)</li>
      </ul>
    </div>

    <div class="upgrades-container">
      <h2>Delorean upgrades</h2>
      <div id="grid-area">
        <span>
          <img src="/images/upgrades/flux-cap.png" alt="flux-capacitor-png" >
          <a href="#">Flux Capacitor</a>
        </span>
        <span>
          <img src="/images/upgrades/flame.jpg" alt="flame-decals-jpg" >
          <a href="#">Flame Decals</a>
        </span>
        <span>
          <img
            src="/images/upgrades/bumper_sticker.jpg"
            alt="bumper-sticker-jpg"
          >
          <a href="#">Bumper Stickers</a>
        </span>
        <span>
          <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap-jpg" >
          <a href="#">Hub Caps</a>
        </span>
      </div>
    </div>
  </div>
</div>
